.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(204, 188, 170);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(12, 89, 40);
}

button {
  font-size: calc(10px + 2vmin);
}

/* react-calendar css*/
.react-calendar.My-calendar{
  margin-left: 50px;
  margin-right: 50px;
  padding:20px;
  border:3px solid rgb(12, 89, 40);
  background-color: #ffffff42;
  color:rgb(12, 89, 40);
}

.react-calendar__navigation button{
  border: none;
  background-color:#ffffff00;
  color:rgb(12, 89, 40);
  font-size:smaller;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays abbr{
  text-decoration: none;
  font-weight: 200;
}

.react-calendar__month-view__days{
  border: 2px solid
}

button.react-calendar__tile.react-calendar__month-view__days__day{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgb(12, 89, 40);
  background-color: #e7e3d799;
}

button.react-calendar__tile.react-calendar__month-view__days__day--weekend{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color: #d10000;
  background-color: #e7e3d799;
}

button.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: #e7e3d799;
  text-decoration: underline;
}

button.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575b4;
  background-color: #ffffff00;
}

button.react-calendar__tile.react-calendar__month-view__days__day:hover{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgb(12, 89, 40);
  background-color: rgba(255, 255, 255, 0.617);
}

button.react-calendar__tile.react-calendar__month-view__days__day:focus{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgba(255, 255, 255, 0.75);
  background-color: rgba(12, 89, 40, 0.925);
}

.Brand-icon{
  height: 45px;
  margin:3px
}

.Brand-icon:hover{
  height: 40px;
  margin:5.5px
}

.My-coffee{
  height:120px;
  position:relative;
  top:30px;
}

.My-coffee-type{
  height:150px;
  position:absolute;
  transform: translate(-50%, -50%);
}
.My-coffee-brand{
  height:55px;
  position:absolute;
  transform: translate(-50%, -50%);
  top:15px
}

.My-coffee-list{
  height:50px;
  position:relative;
  top:30px;
}

.My-coffee-list .My-coffee{
  height:50px;
  position:relative;
  margin-right: 10px;
  top:30px;
}

.My-coffee-list .My-coffee-type{
  height:50px;
  position:absolute;
  margin-right:10px;
  /* transform: translate(-50%, -50%); */
}
.My-coffee-list .My-coffee-brand{
  height:20px;
  position:absolute;
  margin-right:10px;
  /* transform: translate(-50%, -50%); */
  top:15px;
}