.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(204, 188, 170);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(12, 89, 40);
}

.Delete-button{
  font-size: 2px;
  transform: translate(12px, -5px);
  background-color:#ffffff00;
}

button{
  border:none;
  background: none;
}

select{
  border: none;
  background-color:#ffffff00;
  font-size: calc(10px + 2vmin);
  color:rgb(12, 89, 40);
}

option{
  border: none;
  background-color:#ffffff00;
  font-size: calc(10px + 2vmin);
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* RESPONSIVE ARROWS */
[class^=arrow]{
  border:       solid rgb(12, 89, 40);
  border-width: 0 .1em .1em 0;
  display:      inline-block;
  padding:      .20em;
  width: 12px;
  height:12px;
  position:relative;
  top:-6px;
  left:6px
}
.arrowRight {transform:rotate(-45deg);}
.arrowLeft  {transform:rotate(135deg);}
.arrowUp  {transform:rotate(-135deg);}
.arrowDown  {transform:rotate(45deg); left:10px}

@keyframes rotate90{
  0% {
      transform: rotate(45deg);
      left:5px;
      top:-12px;
    }
  100% {
      transform:rotate(135deg);
      left:10px;
      top:-15px
    }
} 

/* react-calendar css*/
.react-calendar.My-calendar{
  margin-left: 50px;
  margin-right: 50px;
  padding:20px;
  border:3px solid rgb(12, 89, 40);
  background-color: #ffffff42;
  color:rgb(12, 89, 40);
}

div.react-calendar__navigation{
  margin-bottom: 0px;
}


.react-calendar__navigation button{
  border: none;
  background-color:#ffffff00;
  color:rgb(12, 89, 40);
  font-size:smaller;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays abbr{
  text-decoration: none;
  font-weight: 200;
}

.react-calendar__month-view__days{
  border: 2px solid
}

button.react-calendar__tile.react-calendar__month-view__days__day{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgb(12, 89, 40);
  background-color: #e7e3d799;
}

button.react-calendar__tile.react-calendar__month-view__days__day--weekend{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color: #d10000;
  background-color: #e7e3d799;
}

button.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: #e7e3d799;
  text-decoration: underline;
}

button.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575b4;
  background-color: #ffffff00;
}

button.react-calendar__tile.react-calendar__month-view__days__day:hover{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  /* color:rgb(12, 89, 40); */
  background-color: rgba(255, 255, 255, 0.617);
}

button.react-calendar__tile--active.react-calendar__month-view__days__day{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgba(255, 255, 255, 0.75);
  background-color: rgba(12, 89, 40, 0.925);
}

button.react-calendar__tile--active:enabled:hover, 
button.react-calendar__tile--active:enabled:focus
{
  border: 1.5px solid rgb(22, 90, 14);
  height:70px;
  color:rgba(255, 255, 255, 0.75);
  background-color: rgba(12, 89, 40, 0.925);
}

.Tab-box{
  border: 3px solid rgb(22, 90, 14);
  width:350px;
}

.Tab-button{
  border: 2.5px solid rgb(22, 90, 14);
  width:90px;
  font-size:15pt;
  margin: 12px 12px 0px 12px;
}

.Brand-icon{
  height: 45px;
  margin:3px
}

.Brand-icon:hover{
  height: 40px;
  margin:5.5px
}

.Selected-brand{
  display:inline-block;
  position:relative;
  left:20px;
}

.My-coffee{
  height:200px;
  position:relative;
  top:60px;
}

.My-coffee-type {
  height: 180px;
  position: absolute;
  transform: translate(0%, 0%);
}

.My-coffee-brand {
  height: 55px;
  position: absolute;
  transform: translate(50%, 0%);
  top: 82px;
}

.My-coffee-list{
  height:150px;
  position:relative;
}

.My-coffee-list .My-coffee{
  margin-right:70px;
}

.My-coffee-list .My-coffee-type{
  height:160px;
  position:absolute;
  margin-right:10px;
  margin-top:30px;
  /* transform: translate(-50%, -50%); */
}
.My-coffee-list .My-coffee-brand{
  height:45px;
  position:absolute;
  margin-top:35px;
  margin-right:10px;
  /* transform: translate(-50%, -50%); */
  top:70px;
}

.dot{
  left:50%;
  transform: translate(-50%,-10%);
  position: relative;
  /* display: contents; */
}

abbr{
  top:-15px;
  position: initial;
}